/*----------  DEFAULTS AND COLORS  ----------*/

:root {
  font-family: 'Alata', sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  --text-primary: #232946;
  --text-secondary: #474d6d;
  --background-color: #d4d8f0;
  --headline-color: #fffffe;
  --subheadline-color: #232946;
  --shadow: #9ea7d8;
  --card-bg: #fffffe;
  --header: #232946;
  --footer: #232946;
  --footer-text: #b8c1ec;
  --link: #eebbc3;
  --header-height: 30rem;
  --footer-height: 10rem;
}

* {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: normal;
  color: var(--text-primary);
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
}

body {
  background: var(--background-color);
}

/*----------  HEADER  ----------*/

header {
  background: var(--header);
  height: var(--header-height);
}

.title {
  text-align: center;
  font-size: 3.2rem;
  padding: 0.5em 0.2em;
  margin-bottom: 1.5rem;
  color: var(--headline-color);
}

.search,
.select,
.shows {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 1rem 2rem;
}

.search-input {
  width: 100%;
  padding: 0.5em 0.75em;
  color: var(--text-primary);
}

.search-input::placeholder {
  color: var(--text-secondary);
}

.episodes-info {
  padding: 3rem 0;
  text-align: center;
}

.episode-select,
.shows-select {
  display: block;
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em 0.75em;
}

/*----------  MAIN  ----------*/

main {
  margin: 0 1rem;
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

.episodes {
  margin: 4rem auto 8rem auto;
  max-width: 1200px;
}

.episode {
  max-width: 36rem;
  box-shadow: 0 6px 14px var(--shadow);
  margin: 0 auto 4rem;
  border-radius: 5px;
  padding: 2em;
  background: var(--card-bg);
}

.episode-title {
  font-size: 2.4rem;
  color: var(--subheadline-color);
  font-weight: bold;
}

.episode-info {
  margin-bottom: 1rem;
}

.episode-airdate,
.episode-runtime {
  color: var(--text-secondary);
}

.episode-image {
  margin: 0 auto 2rem auto;
}

.episode-summary {
  line-height: 1.5;
}

/*----------  FOOTER  ----------*/

footer {
  background: var(--footer);
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer>p {
  color: var(--footer-text);
}

footer a {
  position: relative;
  text-decoration: none;
  color: var(--link);
}

footer a:after,
footer a:before {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 2px;
  background: var(--link);
  bottom: -2px;
  left: 0;
}

footer a:before {
  transform: scaleX(0);
  transition: all 0.2s ease;
}

footer a:hover:before {
  height: 4px;
  transform: scaleX(1);
}

@media (min-width: 37.5em) {
  .title {
    font-size: 4.2rem;
    margin-bottom: 0;
  }

  .episodes {
    display: grid;
    grid-template-columns: repeat(auto-fit, 36rem);
    grid-template-rows: auto;
    column-gap: 5rem;
    row-gap: 5rem;
    justify-content: space-around;
  }
}

@media (min-width: 75em) {
  :root {
    --header-height: 20rem;
  }

  .title {
    font-size: 5rem;
  }

  .search,
  .select,
  .shows {
    margin: 0;
    padding: 0;
  }

  .inputs {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
  }
}